.container
{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: auto;
}

.greetings
{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 24px;
}

.game-rules
{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 24px;
}
.button-container
{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
}
.round-result
{
    display: flex;
    justify-content: center;
    margin: 24px;
    color: rgb(89, 73, 16);
    font-size: 24px;
}