body
{
    height: 100vw;
    width: 100vw;
    background-color: rgb(150, 110, 110);
}
.container
{
    display: flex;
    flex-direction: column;
}

.greetings
{
    display: flex;
    justify-content: center;
    color: rgb(71, 62, 62);
    font-size: 24px;
}

.game-rules
{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(71, 62, 62);
    font-size: 24px;
}
.button-container, #reload, .roundResults
{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    color: rgb(71, 62, 62);
}
.choice, #reload
{
    background-color: rgba(97, 66, 66, 0.653);
    color: rgba(255, 235, 205, 0.482);
}
.tallyWinner, .Ties
{
    display: flex;
    justify-content: center;
    margin: 24px;
    color: rgb(71, 62, 62);
    font-size: 24px;
}
